*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*utils*/
img{
    width:100%;
    height:100%;
    object-fit: cover;
}

img,.main-container{
    border-radius: 10px;
}

li{
    list-style-position: inside;
}

section{
    margin:1.5rem .2rem;
}

p{
    color:rgb(167, 162, 162)
}

p,li,td,th{
    font-family:"Outfit", sans-serif;;
}
ol::marker{
    color:hsl(24, 5%, 18%);
    font-weight: bold;
}

tr{
    display: flex;
    flex-direction: row;
    gap:5rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(196, 195, 195);
    width: 100%;
    margin-bottom: .5rem;
}

.bold{
    font-weight: bold;
    color:hsl(24, 5%, 18%);
}
table{
    width: 100%;
}
/*utils end*/

body{
    font-family: "Young Serif", serif;
    background-color: #def6fe;
    width:100%;
    height:100%;
    max-width: 700px;
    margin: auto;
}

.main-container{
    background-color: #fff;
    margin:3rem 0rem;
    padding:.8rem 1.3rem;
}
.header-image{
    width:100%;
    height: 300px;
}
.recipie-section{
    margin:1.5rem .2rem;
}

.recipie-section h1{
    margin-bottom: 1rem;
}

.preparation-section{
    margin:1.5rem .2rem;
    background-color:  hsl(330, 100%, 98%);
    padding:1rem;
    border-radius: 10px;
}

.preparation-section p{
    color:hsl(332, 51%, 32%);
    font-size: 1.2rem;
    font-weight: 600;
}

.preparation-section ul,.ingredient-section ul {
    margin-top:1rem
}

.preparation-section ul li{
    padding:.5rem;
    color:hsl(30, 10%, 34%);
}

.ingredient-section .ingredient-header,.instructions-section div,.footer-section div{
    font-size:2rem;
    margin-bottom: .5rem;
    color: hsl(30, 10%, 34%)
}

.ingredient-section li{
    padding: .5rem;
    color:hsl(30, 10%, 34%);
}

.instructions-section ol{
    padding: 1rem 0rem;
}

.instructions-section ol li{
    margin-bottom: .5rem;
    color:hsl(30, 10%, 34%);
}

 

@media only screen  and (max-width:600px) {
   .main-container{
    margin: 0px;
    background-color:0;
   } 
}