* {
    margin: 0;
    padding: 0;
}

body{
    background-color: azure;
}

/*selctor*/
p {
    /*css rule*/
    color: green;
    margin: 5px;
}

#selector2 {
    color: red;
    font-size: 50px;
}

.selector3 {
    color: yellow;
    font-size: 5rem;
    outline-style: dotted;
    outline-color: red;
}

.my-link {
    color: hotpink;
    text-decoration: none;
    background-color: gray;
    padding: 1rem 1.5rem;
    display: block;
    width: fit-content;
    margin-left: 2rem;
    margin-top: 1rem;
}

/*this is me explaining my code*/

/*Css tables*/

table {
    width: 80%;
    border-collapse: collapse;
    margin: 1rem;
}

td,
th {
    border: 2px solid rgb(215, 199, 199);
    text-align: left;
    padding: .5rem;
}

tr:nth-child(even) {
    background-color: gray;
    color: #fff;
}

/*displays block:inline:flex*/

.block-level {
    background-color: red;
}

.inline-level {
    background-color: blue;
}

.flex-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: red;
    }
}


